.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background,
.table-view .column-header-background .filler{
    -fx-background-color: #f4f5f7;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: center-left;
}

.table-view .column-header {
    /*-fx-background-color: transparent;*/
    -fx-background-color: -fx-table-cell-border-color, f4f5f7;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-alignment: center-left;
}

.table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-width: 0;
}

.table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #a9caee;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}